**/.DS_Store
react-app/src/stylesheets/*.css
react-app/node-modeules/
react-app/build/
chrome/asset-manifest.json
chrome/index.html
chrome/static/
chrome/index.html
firefox/index.html
firefox/asset-manifest.json
firefox/static/
