.application {
  height: 100%;
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 10% auto 10%;

  .app-bar {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
  }

  .bookmark-section {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}
