.bookmarks {
  margin: 20px 0;

  .title {
    text-transform: capitalize;
    font-size: x-large;
    font-weight: 100;
  }

  .ms-Pivot-link-content {
    text-transform: capitalize;
  }

  .content {
    display: flex;
    flex-flow: row wrap;
  }
}
